/* CSS external style sheet for index.html */

/* BG color: Leo's hair color */
body {
    background-color: rgb(82,82,105);
}

/* Default text color: Eriri's hair color */
* {
    color: #E9E7F5;
}

section {
    margin-top: 5pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    margin-right: 5pt;

    padding-top: 1pc;
    padding-bottom: 1pc;
    padding-left: 1pc;
    padding-right: 1pc;

    border-style: dashed;
    border-color: #DBC9FF; /* Eriri's eye color */
    border-width: 1px;
    border-radius: 5px;
}

form {
    margin: 1vh 1vw 1vh 1vw;
    padding: 1vmin 1vw 1vmin 1vw;
}

div {
    margin: auto;
}

/* Topic color: Eriri's streaks' color */
h3.topics {
    color: hsl(185,50%,70%);
    position: relative;
    left: 20px;
}

h4 {
    text-decoration: underline;
}

h4, p, form {
    text-align: center;
}

details video {
    max-width: 300px;
    min-width: 150px;
}

h4 + img {
    height: 30%;
    width: 30%;
    display: block;
    margin: 0 auto;
}

div > input[name="name"], #interesthing, option ~ option {
    color: black;
}

#goaway {
    display: none;
}

h1 {
    position: static; /* everything else messes up the layout :sobs: */
}

button:active {
    color: rgb(82,82,105);
}

a:hover {
    color: rgb(190,0,60);
}

#death {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}