/* CSS external style sheet for index.html */

/* BG color: Leo's hair color */
body {
    background-color: rgb(82,82,105);
}

/* Default text color: Eriri's hair color */
* {
    color: #E9E7F5;
}

/* Messing around with the main elements */
section {
    margin-top: 5pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    margin-right: 5pt;

    padding-top: 1pc;
    padding-bottom: 1pc;
    padding-left: 1pc;
    padding-right: 1pc;

    border-style: dashed;
    border-color: #DBC9FF; /* Eriri's eye color */
    border-width: 1px;
    border-radius: 5px;
}

/* Spacing out the survey */
form {
    margin: 1vh 1vw 1vh 1vw;
    padding: 1vmin 1vw 1vmin 1vw;

    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: repeat(4, 8vh [row-start]);
    row-gap: 3vh;
}

div {
    margin: auto; /* honestly, this does nothing OR I'm blind */
}

/* Topic color: Eriri's streaks' color */
h3.topics {
    color: hsl(185,50%,70%);
    position: relative; /* Pushing this a little more right */
    left: 20px;
}

h4 {
    text-decoration: underline; /* The Media Headers can be a little fancy */
}

/* ...must center as much as I can */
h4, p, form, #survey {
    text-align: center;
}

/* switched from HTML to CSS */
details video {
    max-width: 300px;
    min-width: 150px;
}

/* Brought back original picture so I could implement Sizing */
h4 + img {
    height: 30%;
    width: 30%;
    display: block; /* centers the image */
    margin: 0 auto;
}

/* We're blind, so got to make this more visible */
div > input[name="name"], #interesthing, option ~ option {
    color: black;
}

#goaway {
    display: none; /* Felt too private to ask */
}

h1 {
    position: static; /* everything else messes up the layout :sobs: */
}

/* Same color as BG */
button:active {
    color: rgb(82,82,105);
}

a:hover {
    color: rgb(190,0,60); /* Leo's eye color */
}

/* It just got more unevenly spaced to be honest */
#death {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}